* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background: #d3d3d3;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    margin-right: 10px;
}

.form-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff7f7;
    text-align: center;
}

.form-group input:focus {
    outline: none;
    border-color: #000;
}

.line {
    width: 20px;
    height: 1px;
    background: black;
}

.button-container {
    display: flex;
    justify-content: center;
}

.login-btn {
    background: black;
    width: 50px;
    height: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
